body { background: #2eca97; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-token-0 { color: #a9ac47; font-size: 13px; margin-bottom: 5px; }
.block-cluster-1 { color: #c19177; font-size: 20px; margin-bottom: 5px; }
.block-token-2 { color: #2571c8; font-size: 12px; margin-bottom: 5px; }
.block-filter-3 { color: #adda80; font-size: 13px; margin-bottom: 5px; }
.block-token-4 { color: #b64f0; font-size: 16px; margin-bottom: 5px; }